body {
	margin: 0;
	padding: 0;
}

.container {
	display: flex;
	height: 100vh;
}

.sidebar {
	display: flex;
	min-width: 200px;
	max-width: 200px;
	background-color: #475666;
}

.content {
	display: flex;
}

#nav {
	display: flex;
	width: 100%;
}

#nav ul {
	list-style-type: none;
}

#nav li {
	display: flex;
	flex-direction: column;
	justify-content: center;
	height: 50px;
}

#nav a {
	color: white;
}